{% include "shareMusic/menu.html" with active_tab='Dashboard' %}
<div class="container" align="center">
    <input id="search" onkeyup="search()" placeholder="Buscar una canción" type="search">
    <table id="list">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{song.name}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% if song.like %}
                                                <i class="material-icons">favorite</i>
                                            {% else %}
                                                <i class="material-icons">favorite_border</i>
                                            {% endif%}

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>