{% include "shareMusic/menu.html" with active_tab='descubrimiento' %}

<div class="container-fluid" style="margin-left:10%">
        <div class="row card-deck">
        {% for category in categories %}
            <div class="card" style="max-width: 19rem;" align="center" onclick="location.href='{% url 'categoryDetails' categoryId=category.id%}'">
                {% for icon in category.icons %}
                    <div class="card-img-overlay card-header">
                        <h5>{{category.name}}</h5>
                    </div>
                    <img class="card-img" src="{{icon.url}}" alt="Category">
                  {%endfor%}
            </div>
        {%endfor%}
        </div>
</div>