{% include "shareMusic/menu.html" with active_tab='descubrimiento' %}
<div class="container">
    <div class="card-deck">
        {% for category in categories %}
        <div class="card">
            <img src="{{category.icons.url}}" alt="Avatar" style="height:{{category.icons.height}};
                                                                            width:{{category.icons.width}}">
            <p slign="center">{{category.name}}</p>
        </div>
        {%endfor%}
    </div>
</div>