{% include "shareMusic/menu.html" with active_tab='descubrimiento' %}

<div class="container">
        <div class="row card-deck">
        {% for category in categories %}
            <div class="card col" style="max-width: 19rem;" align="center">
                {% for icon in category.icons %}
                    <img class="card-img" src="{{icon.url}}" alt="Category">
                    <div class="card-img-overlay">
                            {{category.name}}
                    </div>
                  {%endfor%}
            </div>
        {%endfor%}
        </div>
</div>