{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css.css' %}">
</head>
<body>
<div class="header">
  <h1>shareMusic</h1>
</div>
<div class="navbar">
  <a href="#" class="active">Dashboard</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
</div>
<div class="container">
    <!-- Albunes de un artista
    {% for album in albums %}
        <p>{{album.name}}</p>
    {%endfor%}-->

    <h1>{{artist}}</h1>
    <h2>Álbumes:</h2>
    <ul>
    {% for album in albums %}
       <li>&nbsp;&nbsp;&nbsp;&nbsp;{{album.name}}</li>
    {%endfor%}
    </ul>
</div>
</body>
</html>