{% load static %}
{% load bootstrap4 %

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShareMusic</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css.css' %}">
</head>
<body>
    <div class="header">
      <h1>shareMusic</h1>
    </div>
    {% with url_name=request.resolver_match.url_name %}
        <div class="navbar">
            <a href="{% url 'home' %}" class="{% if url_name == 'home' %}active{% endif %}">Dashboard</a>
            <a href="{% url 'playlist' %}" class="{% if url_name == 'playlist' %}active{% endif %}">Playlists</a>
            <a href="{% url 'descubrimiento' %}" class="{% if url_name == 'descubrimiento' %}active{% endif %}">Descubrimiento</a>
            <a href="{% url 'logout' %}" class="right {% if url_name == 'logout' %}active{% endif %}">Logout</a>
            <a href="{% url 'perfil' %}" class="right {% if url_name == 'perfil' %}active{% endif %}">Perfil</a>
        </div>
    {% endwith %}
</body>
</html>

<script>
    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("list");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
     function favoriteStatus(status, index){
        var favorite = document.getElementById("state@@"+index).getAttribute('favorite')
        if(favorite == 'true'){
            document.getElementById("state@@"+index).textContent = 'favorite_border';
            document.getElementById("state@@"+index).setAttribute('favorite', false)
        }else{
            document.getElementById("state@@"+index).textContent = 'favorite';
            document.getElementById("state@@"+index).setAttribute('favorite', true)
        }
    }
</script>

