{% include "shareMusic/menu.html" with active_tab='descubrimiento' %}

<div class="container-fluid" style="margin-left:10%">
        <h2>{{categoryName}}</h2>
        <div class="row card-deck">
        {% for playList in playLists %}
            <div class="card" style="max-width: 19rem;" align="center" onclick="location.href='{% url 'categoryDetails' categoryId=category.id%}'">
                {% for image in playList.images %}
                    <div class="card-img-overlay card-header">
                        <h5>{{playList.name}}</h5>
                    </div>
                    <img class="card-img" src="{{image.url}}" alt="Category">
                  {%endfor%}
            </div>
        {%endfor%}
        </div>
</div>