{% include "shareMusic/menu.html" with active_tab='descubrimiento' %}
<div class="container" >
    <input id="search" onkeyup="search()" placeholder="Buscar una cancion en la playlist" type="search" align="center">
    <h4 class="col m6">Canciones de la playlist "{{categoryName}}":</h4>
    <table id="list" align="center">
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{song.name}}</td>
                <td>{{song.artists}}</td>
                <td>{% if song.like %}
                     <i id="state@@{{forloop.counter0}}" class="material-icons"
                        onclick = "favoriteStatus({{song.like|yesno:'true,false' }}, {{forloop.counter0}})"
                        favorite="true" style="cursor:pointer">favorite</i>
                     {% else %}
                        <i id="state@@{{forloop.counter0}}" class="material-icons"
                            onclick = "favoriteStatus({{song.like|yesno:'true,false' }}, {{forloop.counter0}})"
                           favorite="false" style="cursor:pointer">favorite_border</i>
                    {% endif%}
                </td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>